.container{
    max-width: 500px;
    margin: auto;
    font-family: sans-serif;
}
.heading {
    color: rebeccapurple;
  }
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    }
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}
.site-title{
    font-size: 30px;
    color: rgb(36, 202, 188);
    font-weight: 700;
    margin: 1em 0em;

}